[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "~=2.2.6"
channels = "~=2.3.0"
djangorestframework = "~=2.3.0"

[requires]
python_version = "3.7"
